<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">{{phrase.studyMaterial}}</h3>
    </div>
    <div class="col-md-6 col-4 align-self-center">

    </div>
</div>

<div class="row" ng-show="views.detail">
    <style>
        .download-box{
            height: 100px;
            background: pink;
        }
    </style>
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <button ng-click="changeView('list')" class="btn pull-right btn-success card-block-input-item">{{phrase.cancel}}</button>
                <h4 class="card-title">{{selectedmaterial.material_title}}</h4>
                <div class="row">
                    <div class="col-12 p-b-5 m-b-5 text-center">
                        <div ng-repeat="file in selectedmaterial.material_file" >
                            <video id="{{file.name}}" class="video-js vjs-default-skin" ng-if="file.isvideo"
                                   controls preload="auto" style="width: 100%; height: 100%"
                                   data-setup='{"example_option":true}'>
                                <source src="{{trustSrc(file.link)}}" type='video/{{file.ext}}' />
                            </video>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12 p-2 m-b-5" ng-repeat="file in selectedmaterial.material_file">
                        <a type="button" class="btn btn-success btn-lg btn-block" target="_blank" href="{{file.link}}">{{file.ext}}<br></a>
                    </div>
                    <div class="col-md-3 col-sm-12 p-2 m-b-5">
                        <a type="button" class="btn btn-success btn-lg btn-block" ng-click="download(selectedmaterial.id)" href="javascript:void(0)">{{phrase.Download}}<br></a>
                    </div>

                    <div class="col-12">
                        <div style="width: 100%; display: block;" ng-bind-html="parseHTML(selectedmaterial.material_description)"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="views.list">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <button ng-show="$root.can('studyMaterial.addMaterial')" ng-click="changeView('add')" class="btn pull-right btn-success card-block-input-item">{{phrase.addMaterial}}</button>
                <div class="pull-right card-block-input-group card-block-input-item">
                    <div class="input-group input-group-sm">
                        <select class="browser-default custom-select"  ng-change="subjectUpdate()" ng-model="selectedSubject">
                            <option selected value="">{{phrase.Subjects}}</option>
                            <option ng-repeat="n in subjects" ng-selected="selectedSubject == n.id" value="{{n.id}}">{{n.subjectTitle}}</option>
                          </select>
                          <span class="input-group-addon mr-3">{{totalItems}}</span>  
                        <input type="text"  name="table_search" ng-model="searchInput" placeholder="{{phrase.Search}}" ng-change="searchDB()" class="form-control input-sm">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <h4 class="card-title">{{phrase.listStudyMaterial}}</h4>
                <div class="table-responsive">

                    <table class="table table-bordered table-hover ">
                        <tbody>
                            <tr>
                                <th>{{phrase.materialTitle}}</th>
                                <th>{{phrase.subjectName}}</th>
                                <th style="width: 50%">{{phrase.materialDesc}}</th>
                                <th ng-show="$root.can('studyMaterial.Download') || $root.can('studyMaterial.editMaterial') || $root.can('studyMaterial.delMaterial')">{{phrase.Operations}}</th>
                            </tr>
                            <tr dir-paginate="material in materials | itemsPerPage:20" total-items="totalItems">
                                <td><a href="javascript:void(0)" ng-click="showDetailView(material)">{{material.material_title}}</a></td>
                                <td>{{material.subject}}</td>
                                <td><div style="max-height: 100px; overflow: hidden;" ng-bind-html="parseHTML(material.material_description)"></div></td>                                
                                <td ng-show="$root.can('studyMaterial.Download') || $root.can('studyMaterial.editMaterial') || $root.can('studyMaterial.delMaterial')">
                                    
                                    <button ng-click="showDetailView(material)" type="button" class="btn btn-primary btn-circle" title="{{phrase.View}}" tooltip><i class="fa fa-eye"></i></button>
<!--                                    <a ng-show="$root.can('studyMaterial.Download')" href="{{'index.php/materials/download/'+material.id}}"><button type="button" class="btn btn-warning btn-circle" title="{{phrase.Download}}" tooltip><i class="fa fa-cloud-download"></i></button></a>-->
                                    <button ng-click="download(material.id)" type="button" ng-click="download(material.id)" class="btn btn-warning btn-circle" title="{{phrase.Download}}" tooltip><i class="fa fa-cloud-download"></i></button>
                                    <button ng-show="$root.can('studyMaterial.editMaterial')" ng-click="edit(material.id)" type="button" class="btn btn-info btn-circle" title="{{phrase.Edit}}" tooltip><i class="fa fa-pencil"></i></button>
                                    <button ng-show="$root.can('studyMaterial.delMaterial')" ng-click="remove(material,$index)" type="button" class="btn btn-danger btn-circle" title="{{phrase.Remove}}" tooltip><i class="fa fa-trash-o"></i></button>
                                    
                                </td>
                            </tr>
                            <tr ng-show="materials.length == '0'"><td class="noTableData" colspan="5">{{phrase.noMaterialData}}</td></tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls class="pull-right" on-page-change="getResultsPage(newPageNumber)" template-url="assets/templates/dirPagination.html" ></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="views.add">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <button ng-click="changeView('list')" class="btn btn-danger btn-flat pull-right card-block-input-item">{{phrase.cancelAdd}}</button>
                <h4 class="card-title">{{phrase.addMaterial}}</h4>
                <div class="table-responsive">

                    <form class="form-horizontal" name="addDorm" role="form" ng-upload="saveAdd(content)" role="form" method="post" action="index.php/materials" novalidate enctype='multipart/form-data'>
                        <div class="form-group row" ng-class="{'has-error': addDorm.material_title.$invalid}">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.materialTitle}} * </label>
                            <div class="col-sm-10">
                                <input type="text" name="material_title" ng-model="form.material_title" class="form-control" required placeholder="{{phrase.materialTitle}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.materialDesc}}</label>
                            <div class="col-sm-10">
                                <!-- <textarea name="material_description" class="form-control" ng-model="form.material_description" placeholder="{{phrase.materialDesc}}"></textarea> -->
                                <textarea ck-editor name="material_description" class="form-control" ng-model="form.material_description" placeholder="{{phrase.materialDesc}}"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.materialFile}}</label>
                            <div class="col-sm-10">
                                <input type="file" name="material_file[]" id="material_add_file" multiple="multiple">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': addDorm['class_id[]'].$invalid}">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.class}} *</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="form.class_id" name="class_id[]" ng-change="sectionsList()" multiple required>
                                    <option ng-repeat="class in classes" value="{{class.id}}">{{class.className}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': addDorm['sectionId[]'].$invalid}" ng-show="$root.dashboardData.enableSections == '1'">
                            <label class="col-sm-2 text-right control-label col-form-label">Sections *</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="form.sectionId" name="sectionId[]" multiple ng-required="$root.dashboardData.enableSections == '1'">
                                    <option ng-repeat="section in sections" value="{{section.id}}">{{section.sectionName}} - {{section.sectionTitle}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': addDorm.subject_id.$invalid}">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.Subject}} *</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="form.subject_id" required name="subject_id">
                                    <option ng-repeat="subjectOne in subject" value="{{subjectOne.id}}">{{subjectOne.subjectTitle}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-info waves-effect waves-light" ng-disabled="addDorm.$invalid" ng-click="showloader()">{{phrase.addMaterial}}</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="views.edit">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <button ng-click="changeView('list')" class="btn btn-danger btn-flat pull-right card-block-input-item">{{phrase.cancelEdit}}</button>
                <h4 class="card-title">{{phrase.editMaterial}}</h4>
                <div class="table-responsive">

                    <form class="form-horizontal" name="editMaterial" role="form" ng-upload="saveEdit(content)" role="form" method="post" action="{{'index.php/materials/' + form.id}}" novalidate enctype='multipart/form-data'>
                        <div class="form-group row" ng-class="{'has-error': editMaterial.material_title.$invalid}">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.materialTitle}} * </label>
                            <div class="col-sm-10">
                                <input type="text" name="material_title" ng-model="form.material_title" class="form-control" required placeholder="{{phrase.materialTitle}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.materialDesc}}</label>
                            <div class="col-sm-10">
                                <textarea ck-editor name="material_description" class="form-control" ng-model="form.material_description" placeholder="{{phrase.materialDesc}}"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.materialFile}}</label>
                            <div class="col-sm-10">
                                <input type="file" name="material_file[]" id="material_add_file" multiple="multiple">

                                <br>
                                <span style="color: red; font-size: 9px;">Uncheck files on submit will be removed</span>
                                <br> 
                                
                                <div class="form-check" ng-repeat="file in form.material_uploaded_files"  >
                                    <input type="checkbox" class=""  id="{{$index}}" name="material_uploaded_files[]" ng-model="form.material_uploaded_files[$index].checked" value="{{form.material_uploaded_files[$index]}}">
                                    <label class="form-check-label" for="{{$index}}">
                                        <a style="margin-right: 15px; float: left;" target="_blank" href="{{file.link}}" >{{file.name}}</a> <div style="margin-left: 15px"> </div>   <br>
                                    </label>
                                    
                                </div>
                                

                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': editMaterial['class_id[]'].$invalid}">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.class}} *</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="form.class_id" name="class_id[]" id="editClassId" multiple required>
                                    <option ng-repeat="class in classes" value="{{class.id}}">{{class.className}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': editMaterial['sectionId[]'].$invalid}" ng-show="$root.dashboardData.enableSections == '1'">
                            <label class="col-sm-2 text-right control-label col-form-label">Sections *</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="form.sectionId" name="sectionId[]" multiple ng-required="$root.dashboardData.enableSections == '1'">
                                    <option ng-repeat="section in form.sections" value="{{section.id}}" ng-selected="isSectionSelected(form.sectionId,section.id)">{{section.sectionName}} - {{section.sectionTitle}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': editMaterial.subject_id.$invalid}">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.Subject}} *</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="form.subject_id" required name="subject_id">
                                    <option ng-repeat="subjectOne in form.subject" value="{{subjectOne.id}}" ng-selected="subjectOne.id == form.subject_id">{{subjectOne.subjectTitle}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="offset-sm-2 col-sm-10">
                                <!-- ng-click="showloader()" -->
                                <button type="submit" class="btn btn-info waves-effect waves-light" ng-disabled="editMaterial.$invalid"  ng-click="showloader()" >{{phrase.editMaterial}}</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

